<!DOCTYPE html>
<html>
  <head>
    <title>Soundcloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.loveless ="<%= image_url('Loveless.jpg') %>"
      window.shoe ="<%= image_url('shoe.png') %>"
      window.soundcloud ="<%= image_url('soundcloud.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

